.container {
    position: relative;
    width: 75%;
    height: 35%;
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 10%;
    padding-left: 10%;
    
  }

  .button{
      margin-top: 10px;
  }
