#ancestor{
    margin: 2.5%;
}

/* profile tile */ 
#profile-name{
    background-color: black;
}
#profile-title{
    margin-bottom: 10%;
}

/* Yarde Tile */ 
#garden-pic{
    background-color: black;
}
#garden-border{
    border-radius: 5px;
    border: solid white
}

/*Yard Comments Tile */
#garden-comments{
    background-color: black;
}
#btn-comm{
    margin-top: 5px;
}

/* Jobs upcoming and completed tile */

#jobs{
    background-color: black;
}